anyio==3.5.0
ecdsa==0.17.0
fastapi==0.72.0
idna==3.3
passlib==1.7.4
pyasn1==0.4.8
pydantic==1.9.0
python-jose==3.3.0
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.17.1
typing==3.7.4.3
typing-extensions==4.0.1
